<div class="container">
    <h2 class="text-center">Create Invoice</h2>
    <br />
    <div class="container-fluid border border-dark p-4">
        <form class="container form-register" #registerForm="ngForm">

            <div class="row">

                <div class="row row-cols-3 justify-content-md-center">

                    <div class="col form-group row py-3">
                        <label for="company" class="col-4 col-form-label text-nowrap text-end">Company:</label>
                        <div class="col-8">
                            <select class="form-select" name="companySelection" aria-label="Default select example" [(ngModel)]="chosenCompany" (ngModelChange)="CompanySelection()">
                                <option value="0" selected>Open this select menu</option>
                                <option *ngFor="let company of companies" value="{{ company.companyId }}">{{ company.companyName }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col form-group row py-3">

                        <label for="companyPhone" class="col-4 col-form-label text-nowrap text-end">Phone:</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext text-start" id="companyPhone" value="{{ this.companyInfo.companyPhone }}">
                        </div>

                    </div>
                    <div class="col form-group row py-3">

                        <label for="invoiceNumber" class="col-4 col-form-label text-nowrap text-end">Invoice Number:</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext text-start" id="invoiceNumber" value="Define Logic">
                        </div>
                    </div>
                </div>
                <div class="row row-cols-3 justify-content-md-center">
                    <div class="col form-group row py-3">
                        <label for="companyAddress" class="col-4 col-form-label text-nowrap text-end">Address:</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext text-start" id="companyAddress" value="{{ this.companyInfo.companyAddress }}">
                        </div>
                    </div>
                    <div class="col form-group row py-3">
                        <label for="companyEmail" class="col-4 col-form-label text-nowrap text-end">Email:</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext text-start" id="companyEmail" value="{{ this.companyInfo.companyEmail }}">
                        </div>
                    </div>
                    <div class="col form-group row py-3">
                        <label for="invoiceDate" class="col-4 col-form-label text-nowrap text-end">Invoice Date:</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext text-start" id="invoiceDate" value="{{ this.dateNow }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <button class="btn btn-sm btn-primary btn-block m-4" type="submit" (click)="AddProductLine()">Add Product</button>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr class="table-primary text-center">
                        <th class="col-1 text-nowrap" scope="col">Art. Number</th>
                        <th class="col-5" scope="col">Description</th>
                        <th class="col-1" scope="col">Quantity</th>
                        <th class="col-2" scope="col">Unit Price</th>
                        <th class="col-1" scope="col">Discount</th>
                        <th class="col-1" scope="col">Price</th>
                        <th class="col-1" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let product of invoiceProducts">
                        <td>{{ product.IContentArticleNumber }}</td>
                        <td>{{ product.IContentDescription }}</td>
                        <td>{{ product.IContentQuantity }}</td>
                        <td>{{ product.IContentUnitPrice }}$</td>
                        <td>{{ product.IContentDiscount }}</td>
                        <td>{{ product.IContentPrice }}$</td>
                        <td><button class="btn btn-sm btn-danger btn-block" type="submit" (click)="DeleteProduct(product.IContentArticleNumber || 0)">Delete</button></td>
                    </tr>
                    <tr *ngIf="IsAddProductLine()">
                        <td>
                            <input type="text" readonly class="form-control-plaintext" id="IContentArticleNumber" name="IContentArticleNumber" [(ngModel)]="this.productToAdd.IContentArticleNumber">
                        </td>
                        <td>
                            <input type="text" id="IContentDescription" name="IContentDescription" class="form-control" placeholder="Description" [(ngModel)]="this.productToAdd.IContentDescription">
                        </td>
                        <td>
                            <input type="text" id="IContentQuantity" name="IContentQuantity" class="form-control" placeholder="Quant" [(ngModel)]="this.productToAdd.IContentQuantity">
                        </td>
                        <td>
                            <input type="text" id="IContentUnitPrice" name="IContentUnitPrice" class="form-control" placeholder="Unit Price" [(ngModel)]="this.productToAdd.IContentUnitPrice">
                        </td>
                        <td>
                            <input type="text" id="IContentDiscount" name="IContentDiscount" class="form-control" placeholder="% Disc" [(ngModel)]="this.productToAdd.IContentDiscount">
                        </td>
                        <td>
                            <input type="text" readonly class="form-control-plaintext" id="IContentPrice" name="IContentPrice" [ngModel]="this.productToAdd.IContentPrice">
                        </td>
                        <td><button class="btn btn-sm btn-success btn-block" type="submit" (click)="AddProduct()">Add</button></td>
                    </tr>
                </tbody>
                <tfoot class="text-center border-bottom">
                    <td scope="col" colspan="1"></td>
                    <th scope="col">Total Quantity</th>
                    <td scope="col" colspan="1">
                        <input type="text" readonly class="form-control-plaintext text-center" id="IContentTotalArticle" name="IContentTotalArticle" [ngModel]="this.totalArticles">
                    </td>
                    <td scope="col" colspan="1"></td>
                    <th scope="col">Total Price</th>
                    <td scope="col">
                        <input type="text" readonly class="form-control-plaintext text-center" id="IContentTotalPrice" name="IContentTotalPrice" [ngModel]="this.totalPrice + '$'">
                    </td>
                </tfoot>
            </table>


        </form>
    </div>
</div>
