<form class="container form-register" #registerForm="ngForm" (ngSubmit)="RegisterAccount(registerForm)">
    <div class="container-fluid">
        <h2 class="form-signin-heading text-center">Register</h2>
        <br />
        <label for="usernickname" class="sr-only">Nickname</label>
        <input type="text" id="nickname" name="nickname" ngModel class="form-control" placeholder="Nickname" required
            autofocus>
        <br />
        <label for="username" class="sr-only">Name</label>
        <input type="text" id="username" name="username" ngModel class="form-control" placeholder="Name" required
            autofocus>
        <br />
        <label for="userlast" class="sr-only">Last Name</label>
        <input type="text" id="lastname" name="lastname" ngModel class="form-control" placeholder="Last Name" required
            autofocus>
        <br />
        <label for="useremail" class="sr-only">Email</label>
        <input type="email" id="useremail" name="useremail" ngModel class="form-control" placeholder="email@example.com" required
            autofocus>
        <br />
        <label for="userphone" class="sr-only">Phone number</label>
        <input type="text" id="userphone" name="userphone" ngModel class="form-control" placeholder="600123456" required
            autofocus>
        <br />
        <label for="userpassword" class="sr-only">Password</label>
        <input type="password" id="userpassword" name="userpassword" [(ngModel)]="password" class="form-control" placeholder="Password"
            required (keyup)="check()">
        <br />
        <label for="password" class="sr-only">Confirm Password </label> <span [innerHTML]="htmlStr" [ngStyle]="myStyles"></span>
        <input type="password" id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password" class="form-control" placeholder="Confirm Password"
            required (keyup)='check();'>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!validated">Register</button>
    </div>
</form>