<!-- Invoice Panel -->
<div class="container" *ngIf="!IsInvoiceDetails()">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col col-sm">
                <div class="dropdown-center list-inline-item my-auto">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Search</button>
                    <div class="dropdown-menu">
                        <form class="p-4">
                            <div class="mb-3">
                                <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                            </div>
                            <button class="btn btn-primary btn-sm">Filter</button>
                        </form>
                        <div class="dropdown-divider"></div>                            
                    </div>
                </div>
            </div>
            <div class="col col-lg">
                <h1 class=" list-inline-item">Invoice Panel</h1>
            </div>
            <div class="col col-sm">
                <div class="dropdown-center list-inline-item my-auto">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Sort</button>
                    <div class="dropdown-menu">
                        <form class="p-4">
                            <div class="mb-3">
                                <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                            </div>
                            <button class="btn btn-primary btn-sm">Search</button>
                        </form>
                        <div class="dropdown-divider"></div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-light table-striped table-hover">
        <thead>
            <tr class="table-info">
                <th scope="col" class="text-center">Invoice Id</th>
                <th scope="col" class="text-center">Invoice Company</th>
                <th scope="col" class="text-center">Invoice Date</th>
                <th scope="col" class="text-center">Invoice Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of invoices" (click)="InvoiceDetails(invoice.invoiceId, invoice.companyId, invoice)" class="pe-auto" style="cursor: pointer;">
                <th class="text-center">{{ invoice.invoiceId }}</th>
                <td class="text-center">{{ invoice.companyName }}</td>
                <td class="text-center">{{ invoice.invoiceDate }}</td>
                <td class="text-center">{{ invoice.invoiceTotalPrice }}$</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Invoice Details -->
<div class="container" *ngIf="IsInvoiceDetails() && !IsConvertToPdf()">
    <h2 class="text-center"> Invoice ({{ this.invoice.invoiceNumber }}) <a class="btn btn-warning my-auto btn-m" (click)="InvoiceMenu()">Back</a></h2>
    <br />
    <div class="container-fluid border border-dark p-4 position-relative">
        <form class="container form-register" #invoiceForm="ngForm">
            <div class="position-absolute top-0 end-0"> 
                <button class="btn btn-success mx-1 btn m-2" type="submit">Convert to PDF</button>
            </div>
            <div class="row">

                <div class="row row-cols-3 justify-content-md-center">

                    <div class="col form-group row py-3">
                        <label for="company" class="col-4 col-form-label text-nowrap text-end">Company:</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext text-start" id="company" value="{{ invoiceCompany?.companyName}}">
                        </div>
                    </div>
                    <div class="col form-group row py-3">

                        <label for="companyPhone" class="col-4 col-form-label text-nowrap text-end">Phone:</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext text-start" id="companyPhone" value="{{ invoiceCompany?.companyPhone}}">
                        </div>

                    </div>
                    <div class="col form-group row py-3">

                        <label for="invoiceNumber" class="col-4 col-form-label text-nowrap text-end">Invoice Number:</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext text-start" id="invoiceNumber" value="{{ this.invoice.invoiceNumber }}">
                        </div>
                    </div>
                </div>
                <div class="row row-cols-3 justify-content-md-center">
                    <div class="col form-group row py-3">
                        <label for="companyAddress" class="col-4 col-form-label text-nowrap text-end">Address:</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext text-start" id="companyAddress" value="{{ invoiceCompany?.companyAddress}}">
                        </div>
                    </div>
                    <div class="col form-group row py-3">
                        <label for="companyEmail" class="col-4 col-form-label text-nowrap text-end">Email:</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext text-start" id="companyEmail" value="{{ invoiceCompany?.companyEmail}}">
                        </div>
                    </div>
                    <div class="col form-group row py-3">
                        <label for="invoiceDate" class="col-4 col-form-label text-nowrap text-end">Invoice Date:</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control-plaintext text-start" id="invoiceDate" value="{{ this.invoice.invoiceDate }}">
                        </div>
                    </div>
                </div>
            </div>
            
            <table class="table table-striped">
                <thead>
                    <tr class="table-primary text-center">
                        <th class="col-1 text-nowrap" scope="col">Art. Number</th>
                        <th class="col-5" scope="col">Description</th>
                        <th class="col-1" scope="col">Quantity</th>
                        <th class="col-2" scope="col">Unit Price</th>
                        <th class="col-1" scope="col">Discount</th>
                        <th class="col-1" scope="col">Price</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let product of invoiceProducts">
                        <td>{{ product.iContentArticleNumber }}</td>
                        <td>{{ product.iContentDescription }}</td>
                        <td>{{ product.iContentQuantity }}</td>
                        <td>{{ product.iContentUnitPrice }}$</td>
                        <td>{{ product.iContentDiscount }}</td>
                        <td>{{ product.iContentPrice }}$</td>
                    </tr>
                </tbody>
                <tfoot class="text-center border-bottom">
                    <td scope="col" colspan="1"></td>
                    <td scope="col" colspan="1"></td>
                    <td scope="col" colspan="1">
                        <div class="col form-group row py-3">
                            <th for="invoiceTaxesPercent" class="col-4 col-form-label text-nowrap text-end">IVA:</th>
                            <div class="col-8">
                                <input type="text" readonly class="form-control-plaintext text-center" id="invoiceTaxesPercent" name="invoiceTaxesPercent" value="{{ this.invoice.invoiceTaxPercent }}%">
                            </div>
                        </div>
                    </td>
                    <td scope="col" colspan="1">
                        <div class="col form-group row py-3">
                            <th for="invoiceTaxPrice" class="col-4 col-form-label text-nowrap text-end">IVA Price:</th>
                            <div class="col-8">
                                <input type="text" readonly class="form-control-plaintext text-center" id="invoiceTaxPrice" name="invoiceTaxPrice" value="{{ this.invoice.invoiceTaxPrice }}$">
                            </div>
                        </div>
                    </td>
                    <th scope="col">Total Price</th>
                    <td scope="col">
                        <input type="text" readonly class="form-control-plaintext text-center" id="invoicePriceWithTaxes" name="invoicePriceWithTaxes" value="{{ this.invoice.invoicePriceWithTaxes }}$">
                    </td>
                </tfoot>
                <tfoot class="text-center border-bottom">
                    <td scope="col" colspan="1"></td>
                    <th scope="col">Total Quantity</th>
                    <td scope="col" colspan="1">
                        <input type="text" readonly class="form-control-plaintext text-center" id="totalQuantity" value="{{ this.invoice.invoiceTotalArticle }}">
                    </td>
                    <td scope="col" colspan="1"></td>
                    <th scope="col">Price</th>
                    <td scope="col">
                        <input type="text" readonly class="form-control-plaintext text-center" id="totalPrice" value="{{ this.invoice.invoiceTotalPrice }}$">
                    </td>
                </tfoot>
            </table>

        </form>
    </div>
</div>


<div class="container" *ngIf="IsInvoiceDetails() && IsConvertToPdf()">
    <br />
    <h2 class="text-center">Converting Invoice Num. XXX-XXXX to PDF</h2>
    <br />

    <div id="pdfHeader" #pdfHeader>
        <div class="container text-center">
            <div class="row justify-content-start border">
                
                <div class="col-1 align-self-start border">
                    <h6 class="text-nowrap">INVOICE TO:</h6>
                </div>
                <div class="col-11 border">
                    <div class="row">
                        <div class="col-3 border">
                            <input type="text" readonly class="form-control-plaintext" id="companyName" value="Nombre compania">
                        </div>

                        <div class="col-1"></div>

                        <div class="col-3 align-self-start border">
                            <input type="text" readonly class="form-control-plaintext" id="companyPhone" value="Phone: 678945324">
                        </div>

                        <div class="col-2"></div>

                        <div class="col-3 border">
                            <input type="text" readonly class="form-control-plaintext" id="invoiceNum" value="Invoice Num: 004-4567">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 border">
                            <textarea class="form-control" id="floatingTextarea2" style="height: auto; resize: none; border: none; outline: none;">Pol.ind La Bovila Nave 2, 08228 Viladecavalls</textarea>
                        </div>

                        <div class="col-1"></div>

                        <div class="col-3 border">
                            <input type="text" readonly class="form-control-plaintext" id="companyName" value="Email: company@email.com">
                        </div>

                        <div class="col-2"></div>

                        <div class="col-3 border">
                            <input type="text" readonly class="form-control-plaintext" id="companyName" value="Date: 13/10/2022 - 13:23">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>

    <div id="pdfTable" #pdfTable>
        <table class="table table-striped">
            <thead>
                <tr class="table-info text-center border-bottom border-2 border-primary ">
                    <th class="col-1 text-nowrap border-end border-4 border-light" scope="col">Art. Number</th>
                    <th class="col-5 text-nowrap border-end border-4 border-light" scope="col">Description</th>
                    <th class="col-1 text-nowrap border-end border-4 border-light" scope="col">Quantity</th>
                    <th class="col-2 text-nowrap border-end border-4 border-light" scope="col">Unit Price</th>
                    <th class="col-1 text-nowrap border-end border-4 border-light" scope="col">Discount</th>
                    <th class="col-1 table-primary text-nowrap border-4 border-light" scope="col">Price</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>Z4568</td>
                    <td  class="text-start">Description Product</td>
                    <td>2</td>
                    <td>34$</td>
                    <td>5%</td>
                    <td>66$</td>
                </tr>
                <tr>
                    <td>Z4569</td>
                    <td class="text-start">Description Product</td>
                    <td>34</td>
                    <td>356$</td>
                    <td>12%</td>
                    <td>64546$</td>
                </tr>
            </tbody>

            <tfoot class="text-center border-top border-2 border-primary">
                <tr>
                    <td scope="col" colspan="1"></td>
                    <th scope="col" colspan="1" class="text-end">Total Products:</th>
                    <td scope="col" colspan="1">36</td>
                    <td scope="col" colspan="1">
                        <div class="col form-group row">
                            <th for="invoiceTaxesPercent" class="col-4 col-form-label text-nowrap text-end">IVA:</th>
                            <div class="col-8">
                                <input type="text" readonly class="form-control-plaintext text-start" id="invoiceTaxesPercent" name="invoiceTaxesPercent" value="21%">
                            </div>
                        </div>
                    </td>
                    <th scope="col" class="text-end">Price without IVA:</th>
                    <td scope="col">
                        <input type="text" readonly class=" text-center form-control-plaintext" id="totalPrice" value="64602$">
                    </td>
                </tr>
                <tr>
                    <td scope="col" colspan="1"></td>
                    <td scope="col" colspan="1"></td>
                    <td scope="col" colspan="1"></td>
                    <td scope="col" class="position-relative">
                        
                        <div class="col form-group row">
                            <th for="invoiceTaxPrice" class="col-4 col-form-label text-nowrap text-end">IVA Price:</th>
                            <div class="col-8">
                                <input type="text" readonly class="form-control-plaintext text-start" id="invoiceTaxPrice" name="invoiceTaxPrice" value="123$">
                            </div>
                        </div>
                    </td>
                    <th scope="col">Total Price</th>
                    <td scope="col">
                        <input type="text" readonly class="form-control-plaintext text-center" id="invoicePriceWithTaxes" name="invoicePriceWithTaxes" value="1234$">
                    </td>
                </tr>
                
            </tfoot>

        </table>

    </div>

    <button class="btn btn-primary" >Export To PDF</button>

</div>