<nav class="navbar navbar-expand-lg bg-gradient px-3 fixed-top">
    <div class="container">
        <a class="navbar-brand mb-0 h1 text-dark" href="#">
            <img src="../../../assets/img/brand-logo.svg" width="35" height="30" alt="Logo" class="d-inline-block align-text-top">
            Invoice Generator
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav mr-auto gap-2">
                <li *ngIf="!IsUserAuthenticated() && !IsRegister()" class="nav-item">
                    <a class="btn btn-primary mx-1" (click)="RegisterPage()">Register</a>
                </li>
                <li *ngIf="!IsUserAuthenticated() && IsRegister()" class="nav-item">
                    <a class="btn btn-primary mx-1" (click)="RegisterPage()">Login</a>
                </li>
                <li *ngIf="IsUserAuthenticated() && !IsCreateInvoicePanel()" class="nav-item">
                    <a class="btn btn-success mx-1" >Create Invoice</a>
                </li>
                <li *ngIf="IsUserAuthenticated()" class="nav-item">
                    <a class="btn btn-info mx-1" (click)="HomePanel()">Home</a>
                </li>
                <li *ngIf="IsUserAuthenticated()" class="nav-item">
                    <a class="btn btn-info mx-1" (click)="CompaniesPanel()">Companies</a>
                </li>
                <li *ngIf="IsUserAuthenticated()" class="nav-item">
                    <a class="btn btn-info mx-1" (click)="InvoicesPanel()">Invoices</a>
                </li>
                <li *ngIf="IsUserAuthenticated() && IsUserAdmin()" class="nav-item">
                    <a class="btn btn-info mx-1" (click)="AdminPanel()">Users</a>
                </li>
                <li *ngIf="IsUserAuthenticated()" class="nav-item">
                    <a class="btn btn-warning mx-1" (click)="UserPanel()">User Panel</a>
                </li>
                <li *ngIf="IsUserAuthenticated()" class="nav-item">
                    <a class="btn btn-danger mx-1" (click)="LogOut()">Logout</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="!IsUserAuthenticated() && !IsRegister()" class="nav-item">
                    <a class="btn btn-primary mx-1" (click)="RegisterPage()">Register</a>
                </li>
                <li *ngIf="!IsUserAuthenticated() && IsRegister()" class="nav-item">
                    <a class="btn btn-primary mx-1" (click)="RegisterPage()">Login</a>
                </li>
                <li *ngIf="IsUserAuthenticated() && !IsCreateInvoicePanel()" class="nav-item">
                    <a class="btn btn-success mx-1" (click)="CreateInvoicePanel()">Create Invoice</a>
                </li>
                <li *ngIf="IsUserAuthenticated()" class="nav-item">
                    <a class="btn btn-info mx-1" (click)="HomePanel()">Home</a>
                </li>
                <li *ngIf="IsUserAuthenticated()" class="nav-item">
                    <a class="btn btn-info mx-1" (click)="CompaniesPanel()">Companies</a>
                </li>
                <li *ngIf="IsUserAuthenticated()" class="nav-item">
                    <a class="btn btn-info mx-1" (click)="InvoicesPanel()">Invoices</a>
                </li>
                <li *ngIf="IsUserAuthenticated() && IsUserAdmin()" class="nav-item">
                    <a class="btn btn-info mx-1" (click)="AdminPanel()">Users</a>
                </li>
                <li *ngIf="IsUserAuthenticated()" class="nav-item">
                    <a class="btn btn-warning mx-1" (click)="UserPanel()">User Panel</a>
                </li>
                <li *ngIf="IsUserAuthenticated()" class="nav-item">
                    <a class="btn btn-danger mx-1" (click)="LogOut()">Logout</a>
                </li>
                <button type="button" class="btn btn-dark position-absolute top-5 end-0 mx-5">Dark</button>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div *ngIf="!IsUserAuthenticated() && !IsRegister()">
        <login></login>
    </div>
    <div *ngIf="!IsUserAuthenticated() && IsRegister()">
        <register></register>
    </div>
    <div *ngIf="IsUserAuthenticated() && !IsUserPanel() && !IsAdminPanel() && !IsCompaniesPanel() && !IsInvoicesPanel() && !IsCreateInvoicePanel()">
        <!-- <userboard></userboard> -->
        <useradministrator></useradministrator>
    </div>
    <div *ngIf="IsUserAuthenticated() && IsCompaniesPanel()">
        <companies></companies>
    </div>
    <div *ngIf="IsUserAuthenticated() && IsInvoicesPanel()">
        <invoices></invoices>
    </div>
    <div *ngIf="IsUserAuthenticated() && IsCreateInvoicePanel()">
        <invoice-creation></invoice-creation>
    </div>
    <div *ngIf="IsUserAuthenticated() && IsAdminPanel()">
        <useradministrator></useradministrator>
    </div>
    <div *ngIf="IsUserAuthenticated() && IsUserPanel()">
        <userpanel></userpanel>
    </div>
</div>