<div class="userpanel">
    <h1 class="text-center">Users Administrator Panel  <!--<a class="btn btn-success my-auto btn-m">Create User</a>--> </h1>  

    <table class="table table-light table-striped table-hover">
        <thead>
            <tr class="table-info">
                <th scope="col" class="text-center">User Id</th>
                <th scope="col" class="text-center">Nickname</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Lastname</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Phone</th>
                <!-- <th scope="col" class="text-center"></th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th scope="row" class="text-center">{{user.userId}}</th>
                <td class="text-center">{{user.userNickName}}</td>
                <td class="text-center">{{user.userName}}</td>
                <td class="text-center">{{user.userLast}}</td>
                <td class="text-center">{{user.userEmail}}</td>
                <td class="text-center">{{user.userPhone}}</td>
                <!-- <td class="text-center">
                    <li class="list-inline-item">
                        <a class="btn btn-secondary mx-1 btn-sm">Edit User</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-danger mx-1 btn-sm">Delete User</a>
                    </li>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>